.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    /* background-color: pink; */
    margin-left: 220px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.newflash {
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: skyblue; */
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
    /* background-color: pink; */
}

.news-hd {
    padding: 0 15px;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
}

.news-hd h5 {
    font-size: 14px;
    float: left;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e90a';
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    /* background-color: purple; */
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    position: relative;
    width: 63px;
    height: 71px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice ul li a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
}


/* .lifeservice ul li .count {
    position: relative;
}*/

.lifeservice ul li a .jian {
    position: absolute;
    top: 0;
    right: 0;
}

.lifeservice ul .one {
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.lifeservice ul .two {
    background: url(../images/icons.png) no-repeat -80px -15px;
}

.lifeservice ul .three {
    background: url(../images/icons.png) no-repeat -142px -15px;
}

.lifeservice ul .four {
    background: url(../images/icons.png) no-repeat -206px -15px;
}

.lifeservice ul .five {
    background: url(../images/icons.png) no-repeat -15px -88px;
}

.lifeservice ul .six {
    background: url(../images/icons.png) no-repeat -80px -88px;
}

.lifeservice ul .seven {
    background: url(../images/icons.png) no-repeat -142px -88px;
}

.lifeservice ul .eight {
    background: url(../images/icons.png) no-repeat -206px -88px;
}

.lifeservice ul .nine {
    background: url(../images/icons.png) no-repeat -16px -158px;
}

.lifeservice ul .ten {
    background: url(../images/icons.png) no-repeat -79px -158px;
}

.lifeservice ul .eleven {
    background: url(../images/icons.png) no-repeat -142px -158px;
}

.lifeservice ul .twelve {
    background: url(../images/icons.png) no-repeat -206px -158px;
}

.lifeservice ul .one {
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.bargain {
    margin-top: 5px;
}

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_hd p {
    color: #e4e4e4;
    font-weight: 700;
    font-size: 20px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}


/* 家用电器模块 */

.floor .w {
    margin-top: 30px;
}

.floor .box_hd {
    height: 30px;
    border-bottom: 1px solid #c81623;
}

.floor .box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.floor .box_hd .tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    padding: 0 15px;
}

.box_bd {
    height: 361px;
    /* background-color: pink; */
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.tab_list_item
/* .box_bd .tab_content {
    height: 361px;
    background-color: #f9f9f9;
} */

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    margin-right: 10px;
    width: 85px;
    height: 34px;
    /* text-align: center; */
    line-height: 33px;
    border-bottom: 1px solid #ccc;
}

.col_210 {
    width: 210px;
    /* height: 361px; */
    background-color: #f9f9f9;
    text-align: center;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}